header {
	background: #BBBBBB;
	padding: 20px;
}

.caixa {
	width: 940px;
	position: relative;
	margin: 0 auto;
}

nav ul {
	position: absolute;
	top: 110px;
	right: 0px;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
	font-size: 22px;
	font-weight: bold;
}

nav a:hover {
	color: #C78C19;
	text-decoration: underline;
}

.principal{
	background: #CCCCCC;
	padding: 30px;
}

#banner{
	margin: 20px 0 0;
	width: 100%;
}

.titulo-centralizado{
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

p{
	text-align: center;
}

#missao{
	font-size: 20px
}

em strong{
	color: #FF0000;
}

.beneficios{
	background: #FFFFFF;
	padding: 20px;
}


.lista-beneficios{
	display: inline-block;
	vertical-align: top;
	width: 20%;
	margin-right: 15%;
	margin-top: 40px;
	margin-left: 100px;
}

.itens{
	font-style: italic;
	margin-top: 10px;
	font-size: 20px;
}

.imagembeneficios {
	width: 50%;
	margin-top: 30px;
}

footer {
	text-align: center;
	background: url("bg.jpg");
	padding: 40px 0;
}

.copyright{
	color: #FFFFFF;
	font-size: 13px;
	margin: 20px 0 0;
}